header {
  height: 100vh;
}
header .container {
  height: 100%;
}
.background {
  background: url(../image/home/home-7.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
}
.overlay {
  background-color: rgba(12, 12, 12, 0.6);
  height: 100%;
}
.header-menu-wrapper {
  width: 100%;
  height: 107px;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  position: fixed;
  z-index: 2;
}
.header-menu {
  position: fixed;
  width: 1170px;
  left: 50%;
  margin-left: -585px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 37px 0;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 1.64em;
  text-transform: uppercase;
}
.header-menu a {
  display: inline-block;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header-menu {
    left: 50%;
    margin-left: -470px;
    width: 940px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-menu {
    left: 50%;
    margin-left: -360px;
    width: 720px;
  }
}
@media (max-width: 767px) {
  .header-menu {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    left: 0;
    margin-left: 0;
  }
}
.header-menu-wrapper {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.header-menu-wrapper.scrolled {
  background-color: #FFF;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.header-menu-wrapper.scrolled .menu-icon-line {
  background-color: #0E0E0E;
}
.header-logo {
  display: inline-block;
}
.header-logo img {
  width: 85px;
}
.menu-icon {
  display: inline-block;
  -webkit-transition: right linear 0.5s;
  -moz-transition: right linear 0.5s;
  -ms-transition: right linear 0.5s;
  -o-transition: right linear 0.5s;
  transition: right linear 0.5s;
  right: 0;
}
.menu-icon:hover {
  cursor: pointer;
}
.menu-icon.toggle-sliding-menu {
  right: 260px;
}
@media (max-width: 350px) {
  .menu-icon.toggle-sliding-menu {
    right: 150px;
  }
}
@media (min-width: 351px) and (max-width: 767px) {
  .menu-icon.toggle-sliding-menu {
    right: 200px;
  }
}
@media (min-width: 768px) and (max-width: 800px) {
  .menu-icon.toggle-sliding-menu {
    right: 240px;
  }
}
@media (min-width: 801px) and (max-width: 850px) {
  .menu-icon.toggle-sliding-menu {
    right: 220px;
  }
}
@media (min-width: 851px) and (max-width: 900px) {
  .menu-icon.toggle-sliding-menu {
    right: 200px;
  }
}
@media (min-width: 992px) and (max-width: 1100px) {
  .menu-icon.toggle-sliding-menu {
    right: 240px;
  }
}
@media (min-width: 1101px) and (max-width: 1199px) {
  .menu-icon.toggle-sliding-menu {
    right: 200px;
  }
}
@media (min-width: 1400px) and (max-width: 1699px) {
  .menu-icon.toggle-sliding-menu {
    right: 180px;
  }
}
@media (min-width: 1700px) {
  .menu-icon.toggle-sliding-menu {
    position: absolute;
    right: 0;
  }
}
.menu-icon .menu-icon-line {
  width: 20px;
  height: 2px;
  background-color: #FFF;
  margin-bottom: 5px;
}
.menu-icon .menu-icon-line:last-child {
  margin-bottom: 0;
}
.sliding-side-menu {
  height: 100%;
  background-color: #232323;
  position: fixed;
  top: 0;
  width: 250px;
  z-index: 20;
  right: -250px;
  -webkit-transition: right linear 0.5s;
  -moz-transition: right linear 0.5s;
  -ms-transition: right linear 0.5s;
  -o-transition: right linear 0.5s;
  transition: right linear 0.5s;
  overflow-y: auto;
}
.sliding-side-menu.visible {
  right: 0;
}
@media (max-width: 767px) {
  .sliding-side-menu {
    width: 200px;
    right: -200px;
  }
}
@media (max-width: 350px) {
  .sliding-side-menu {
    width: 150px;
    right: -150px;
  }
}
.sliding-side-menu-item {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: #FFFFFF;
  line-height: 1.64em;
  letter-spacing: 0em;
  margin: 42px 50px 30px 50px;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media (max-width: 350px) {
  .sliding-side-menu-item {
    margin: 42px 50px 30px 30px;
  }
}
.sliding-side-menu-item:hover {
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.sliding-side-menu-item:last-child {
  margin-bottom: 0;
}
.sliding-side-menu-item a {
  border-bottom: 1px solid;
}
.header-lettering {
  text-align: center;
  height: 100%;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}
.header-title {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 1.15em;
  letter-spacing: 0.197em;
  padding-bottom: 17px;
  text-transform: uppercase;
}
.header-descr {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 1.18em;
  letter-spacing: 0.0168em;
}
@media (max-width: 500px) {
  .header-descr {
    font-size: 24px;
  }
}
@media (max-width: 700px) {
  .header-descr {
    font-size: 30px;
  }
}
.header-descr i {
  font-weight: 400;
  display: block;
}
@media (max-width: 500px) {
  .header-descr i {
    margin-top: 5px;
  }
}
.pointer {
  position: absolute;
  bottom: 65px;
  left: 50%;
}
.pointer .circle {
  width: 47px;
  height: 47px;
  margin-left: -23.5px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #fff;
}
.pointer .arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  left: 50%;
  margin-left: -5px;
  bottom: 50%;
  margin-bottom: -4px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
